.saletext{
    text-align:left;
    padding-inline-start:18px;
    padding-block-end: 20px;
}
.salehead{
    font-size: 16px;
    font-family: 'Roboto';
}
.salep{
    color: #878787;
    font-size: 14px;
}
.saleimgContainer{
    display:flex ;
    flex-wrap: wrap;
}
.saleimg{
    width: 33%;
}
.saleimg img{
    width: 90%;
}
@media screen and (min-width:768px) {

.salehead{
    font-size: 24px;
}
.salep{
    font-size: 22px;
}
.saleimg img{
    width: 256px;
}
}