.azure-customers img {
  width: 100%;
}

.azure-customers {
  display: flex;
  flex-direction: column;
}

.azure-innovation {
  display: flex;
  overflow: scroll;
  padding-bottom: 36px;
  height: 113px;
}

.azure-innovation::-webkit-scrollbar {
  display: none;
}

.azure-customers span {
  font-size: 18px;
  font-family: 'Segoe UI 600';
  color: white;
}

.case-study,
.work {
  font-size: 16px;
  color: #50e6ff;
  font-family: 'Segoe UI 600';
}

.text-area {
  display: flex;
  flex-direction: column;
  padding-block: 48px;
  padding-inline: 12px;
  background-color: #000;
}

.innovation-head {
  padding-block-start: 48px;
  padding-block-end: 24px;
  margin-block-end: 8px;
  padding-inline: 8px;
  font-size: 19px;
  font-family: 'Segoe UI 600';
}

@media screen and (min-width: 768px) {

  .azure-customers img {
    width: 100%;
    height: 260px;
  }

  .text-area {
    height: 100px;
  }

}

@media screen and (min-width: 1024px) {

  .azure-innovation {
    display: flex;
    justify-content: space-between;
  }

  .innovation-head {
    text-align: center;
  }

  .customers {
    margin-right: 124px;
  }

  .text-area {
    position: relative;
    bottom: 59px;
    height: 84px;
    margin-inline: 29px;
    padding-inline: 58px;
  }

  .azure-customers img {
    height: 385px;
  }

}

@media screen and (min-width: 1440px) {

  .azure-customers span {
    font-size: 21px;
  }

  .azure-customers img {
    height: 642px;
  }

  .text-area {
    width: 52%;
    margin-inline: 120px;
    margin-inline-end: auto;
    bottom: 237px;
  }

  .azure-innovation {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    margin-inline: auto;
  }

}
