.app-listitem{
    display: flex;
    align-items: center;
}
.list_item:nth-of-type(4){
    background-color: #89c402;
    border: 1px solid #6f9e02;
    border-radius: 4px;
    color: #1a1a1f;
    font-size: 12px;
    font-weight: 600;
    padding: 9px;
    line-height: 1;
    text-align: center;
}
.list_item{
    padding-inline:15px;
    font-size: 14px;
}
.list_item:nth-of-type(1),
.list_item:nth-of-type(2){
    padding: 6px;
}
