.moreimg img {
  width: 8px;
  height: 4px;
  padding-inline-start: 6px;
  padding-block: 2px;
}
.headerdeskContainer {
  background-color: #2874f0;
  padding-block: 12px;
}
.deskheader {
  max-width: 1450px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
  align-items: center;
  padding-inline-start: 100px;
}
.knowmore {
  display: flex;
  font-family: "Roboto-m";
  color: white;
}
.searchproductsdesk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  width: 33%;
  height: 38px;
  padding-inline: 12px;
}
.searchproducts input {
  width: 258px;
  border: none;
}

.searchiconimg img {
  width: 20px;
  height: 20px;
}
.deskimgflip img {
  width: 76px;
  height: 35px;
}
.login {
  text-decoration: none;
  font-family: "Roboto-m";
  padding: 7px 50px;
  background-color: #ffff;
  color: #2874f0;
}
.seller {
  text-decoration: none;
  color: white;
  font-family: "Roboto-m";
}
.carticon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: "Roboto-m";
  padding-inline-start: 12px;
}
.carticon img {
  padding-inline-end: 10px;
}
