.slidecontainer {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
  background-color: #e0e0e0;
}
.slidecarousel {
  min-width: 100%;
  height: 100%;
}
.slidecarousel img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.nextimg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: calc(50% - 52px);
  background-color: #ffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  width: 47px;
  height: 104px;
  right: 0;
}
.nextimg img {
  transform: rotate(180deg);
}
.previmg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: calc(50% - 52px);
  background-color: #ffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  width: 47px;
  height: 104px;
}
/* .slidecarousel.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
} */
