.categoriesContainer{
    display: flex;
    padding-block: 10px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16)
}
.categories{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 8px;
}
.categories img{
    width: 62%;
}
.items{
    font-size: 14px;
    font-family: 'Roboto-m';
}
.items img{
    width: 10px;
    height: 6px;
}