@media screen and (min-width: 1024px) {
  .bestofhealth {
    background: white;
    position: sticky;
    left: 0;
    z-index: 2;
  }
  .healthtext {
    background-image: url("../assets/backgrd.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 230px;
    padding: 68px 10px 110px;
  }

  .healthContainer {
    display: flex;
    align-items: center;
    background-color: #ffff;
    height: 352px;
    margin-block-end: 18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative;
  }
  .scrollImgHealth {
    display: flex;
    width: 67%;
  }
  .healthcare {
    padding: 25px 15px;
  }
  .healthcare img {
    width: 160px;
    height: 165px;
    margin-inline: 23.5px;
  }
  .type {
    color: #212121;
    font-size: 14px;
    font-family: "Roboto-m";
    margin: 15px 0px 0px;
  }
  .shopnow {
    color: #388e3c;
    font-size: 16px;
    font-family: "Roboto";
    padding: 8px 0px 0px;
  }
  .brand {
    color: gray;
    font-size: 14px;
    font-family: "Roboto";
    padding: 7px 0px 0px;
  }
  .healthtext h2 {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 100;
  }
  .healthtext a {
    font-size: 13px;
    font-family: "Roboto-m";
    color: #ffff;
    padding: 10px 20px;
    background: #2874f0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
  .nextarrowhealth {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    background-color: #ffff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
    width: 47px;
    height: 104px;
    right: 7px;
  }
  .nextarrowhealth img {
    transform: rotate(180deg);
  }
  .prevarrowhealth {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: calc(46% - 52px);
    background-color: #ffff;
    z-index: 2;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
    width: 47px;
    display: none;
    height: 104px;
    left: 270px;
  }
}
@media screen and (min-width: 1440px) {
  .scrollImgHealth {
    width: 83%;
  }
}
