@media screen and (min-width:320px) {
  .mobContainer{
    display: block;
  }
  .desktopContainer{
    display: none;
  }

}
@media screen and (min-width:1024px) {
  .mobContainer{
    display: none;
  }
  .desktopContainer{
    display: block;
  }
  .itemsContainer{
    background-color: #e0e0e0;
    padding-inline-start: 6px;
  }

}