.banner {
  width: 100%;
}
.offers img {
  /* width: 83px;
  height: 103px; */
  width: 52%;
  height: 57%;
}
.offers {
  width: 50%;
}
.offerContainer {
  display: flex;
  flex-wrap: wrap;
  padding-block: 28px;
  background: white;
  width: 90%;
}
.textp {
  font-size: 12px;
}
.textprice {
  font-size: 14px;
  color: #388e3c;
}
.mainOfferContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(rgb(252, 167, 216), rgb(252, 167, 216));
}
.grab {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  top: 21px;
  gap: 133px;
}
.grabview {
  background: #ffff;
  padding: 8px 12px;
  color: #515e71;
  font-size: 14px;
  border-radius: 4px;
  font-family: "Roboto";
}
.grabtext {
  color: #ffff;
}
@media screen and (min-width: 768px) {
  .grab {
    gap: 333px;
    top: 60px;
  }
  .grabview {
    font-size: 18px;
    color: white;
    background-color: darkblue;
  }
  .grabtext {
    font-size: 21px;
    color: black;
  }
}
