.card-img-text {
  display: block;
}

.card-img-text img {
  width: 100%;
}
.main-head {
  font-family: "Segoe UI 600";
  font-size: 16px;
  color: #0078d4;
  text-align: left;
}
.main-head-two {
  font-family: "Segoe UI 600";
  font-size: 29px;
  margin-bottom: 16px;
  line-height: 1.2;
}

.mainCard {
  padding-block: 34px;
  padding-inline: 12px;
  max-width: 905px;
  margin-inline: auto;
}
.mainCard p {
  line-height: 1.5;
  margin-bottom: 16px;
}
.buttons {
  transform: translateY(15px);
}
.getstarted {
  background-color: #0078d4;
  color: white;
  font-weight: 600;
  border: 0.12rem solid transparent;
  border-radius: 0.125rem;
  padding: 8px 13px;
  margin: 8px 26px 8px 0;
  font-size: 1rem;
  line-height: 1;
  font-size: 16px;
}
.tryazure {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-weight: 600;
  border-radius: 0.125rem;
  padding: 6px 13px;
}
.card-img-text-lap {
  display: none;
}
@media screen and (min-width: 1440px) {
  .card-img-text {
    display: none;
  }
  .card-img-text-lap {
    display: block;
    position: relative;
  }

  .main-head-two {
    font-size: 3.125rem;

  }
  .mainCard {
    margin-inline: 8%;
    padding-bottom: 58px;
    padding-block: 81px;
  }
  .mainCard p {
    width: 48%;
  }
}
