
.scroll-bar{
    display: flex;
    overflow: scroll;
    text-align: center;
    border-bottom: 1px solid #505050;
}

.scroll-bar::-webkit-scrollbar{
    display: none;
}

.scroll-bar a{
    padding: 8px 24px;
    font-size: 16px;
    font-family: 'Segoe UI 600';
    color: #505050;
    white-space: nowrap;

}

.img-cards img{
    height: 40px;
    width: 40px;
    padding-block-start: 1.5rem;
    padding-inline: 1.5rem;
}

.azure-featured{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 24px;
    padding-block: 34px;
}

.azure-card{
    padding-bottom: 1.5rem;
    text-align: center;
    box-shadow: 0 .375rem .875rem 0 rgba(0,0,0,.13),0 .0625rem .25rem 0 rgba(0,0,0,.11);
    border-radius: 5px;
}
.azure-card p{
    padding: 24px 24px 0px;
    padding-bottom: 1.5rem;
}
.azure-text span{
    padding: 6px;
    color: #0067b8;
    font-family: 'Segoe UI 600';
    font-size: 18px;
    text-decoration: underline;
}

@media screen and (min-width:1024px) {

    .container{
        padding-inline: 18px;
    }

    .scroll-bar{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        border-bottom: none;
    }

    .scroll-bar a{
        margin-bottom: 16px;
    }

    .product-head{
        display: flex;
        flex-direction: row;
    }

    .azure-featured{
        display: grid;
        grid-template-columns: 22vw 22vw 22vw;
    }

    .azure-text span{
        font-size: 1rem;
        padding: 0;
    }

}

@media screen and (min-width:1400px) {

    .container{
        max-width: 1600px;
        padding-inline: 84px;
    }

}
