.developer-stories img {
  width: 100%;
}
.developer-container {
  background-color: #000;
  padding: 0;
  margin-bottom: 3rem;
}
.container-developer h2 {
  margin: 0px;
  font-size: 19px;
  font-family: "Segoe UI 600";
  color: #fff;
}
.container-developer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 48px;
  padding-inline: 12px;
}
.img-container-developer {
  background-color: #000;
}
.container-developer span img {
  height: 16px;
  width: 16px;
  margin-right: 12px;
}
.container-developer span {
  color: white;
  font-size: 16px;
  font-family: "Segoe UI 600";
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  background-color: #0078d4;
}
.container-developer a {
  color: #50e6ff;
  font-size: 16px;
  font-family: "Segoe UI 600";
  text-decoration: none;
}
.developer-know-more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .developer-know-more {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .container-developer {
    padding: 3rem;
  }
  .developer-stories {
    position: relative;
    margin-block-end: 24px;
  }
  .developer-container {
    width: 93%;
    position: absolute;
    left: 40px;
    top: 328px;
  }
}
@media screen and (min-width: 1440px) {
  .container-developer h2 {
    font-size: 24px;
  }
  .developer-container {
    width: 60%;
    position: absolute;
    left: 85px;
    top: 223px;
  }
  .img-container-developer {
    max-height: 554px;
    max-width: 1870px;
    margin-block: auto;
    margin-inline: auto;
  }
}
