.discover-cards img{
    width: 100%;
}

.discover h2{
    padding-inline: 12px;
    padding-block: 24px;
    font-size: 19px;
    font-family: "Segoe UI 600";
}

.discover-container{
    padding-inline: 24px;
}

.discover-cards{
    display: flex;
    flex-direction: column;
    min-width: 1px;
    padding-bottom: 48px;
    margin-bottom: 3rem;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0,0,0,.13), 0 0.0625rem 0.125rem 0 rgba(0,0,0,.11);
    background-clip: border-box;
    color: #000;
}

.texts-container{
    padding: 24px 24px 0;
}

.texts-container h3{
    font-size: 14px;
    font-family: 'Segoe UI';
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 0;
}

.texts-container p{
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 400;
    line-height: 1.5;
}

.texts-container a{
    color: #0067b8;
    font-size: 16px;
    font-family: 'Segoe UI 600';
    text-decoration: none;
}

@media screen and (min-width:1024px) {

    .discover h2{
        position: relative;
        padding-block-start: 0;
        text-align: center;
        bottom: 48px;
        font-size: 26px;
    }

    .discover-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
    }

}

@media screen and (min-width:1440px){

    .discover-container{
        max-width: 1600px;
        padding-inline: 5%;
        margin-inline: auto;
    }

    .discover{
        padding-inline: 5%;
    }

}