.imgmodernization img{
    width: 100%;
}
.containerModernization{
    background-color: #f8f9fa;

}
.modernization{
    width: 100%;
    padding-bottom: 48px;

}
.textButton{
    padding: 24px;
}

.textButton h2{
    margin-bottom: 12px;
    margin-top: 0px;
    font-size: 24px;
    font-family: "Segoe UI 600";
}
.textButton a{
    color: #0078d4;
    border:2px solid #0078d4;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Segoe UI 600";
    padding: 10px 12px;

}
.textButton span{
    margin-top: 24px;
    position: relative;
   top: 21px;
}
@media screen and (min-width:1024px) {
    .modernization{
        display: flex;
        align-items: center;

    }
    .containerModernization{
        position:relative;
        bottom: 57px;
    }
}
@media screen and (min-width:1440px) {

    .imgmodernization img{
        width:580px;
        padding-inline-start: 72px;
    }
    .containerModernization{
        position: relative;
        bottom: 181px;
    }
    .modernization{
        max-width: 1600px;
        margin-inline: auto;
        padding-block-start: 48px;
    }
    .textButton h2{
        font-size: 37px;
        width: 85%;
    }
    .textButton{
        padding: 48px;
    }
}