.App {
 box-sizing: border-box;
 margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {

  font-family: 'Segoe UI';
  src: url("assets/SegoeUI-Roman-VF.woff2") format("truetype");

}

@font-face {
  font-weight: 400;
  font-family: 'Segoe UI 400';
  src: url("assets/SegoeUI-Roman-VF.woff2") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: 'Segoe UI 600';
  src: url("assets/SegoeUI-Roman-VF.woff2") format("truetype");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
